{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <h1>Modifier mon profil</h1>

    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_errors(form.username) }}
    {{ form_row(form.ratingScale) }}
    {{ form_errors(form) }}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.vars.errors %}
        <div class="error">{{ error.message }}</div>
    {% endfor %}
    <button class="btn">Enregistrer</button>
    {{ form_end(form) }}

{% endblock %}