{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="box">
            <!-- Titre -->
            <h1 class="title is-3 has-text-warning">👤 Modifier mon profil</h1>

            <!-- Formulaire -->
            {{ form_start(form) }}
            <div class="columns">
                <div class="column is-2">
                    {{ form_label(form.username, null, { 'label_attr': {'class': 'label'} }) }}
                    <div class="control">
                        {{ form_widget(form.username, { 'attr': {'class': 'input'} }) }}
                    </div>
                    {{ form_errors(form.username) }}
                </div>

                <div class="column is-2 ml-4">
                    {{ form_label(form.ratingScale, null, { 'label_attr': {'class': 'label'} }) }}
                    <div class="control select is-warning">
                        {{ form_widget(form.ratingScale) }}
                    </div>
                    {{ form_errors(form.ratingScale) }}
                </div>

                <!-- Bouton -->
                <div class="column is-2 ml-4">
                    <label class="label">&nbsp</label>
                    <div class="control">
                        <button class="button">💾 Enregistrer</button>
                    </div>
                </div>
            </div>

            {{ form_end(form) }}

            <!-- Flash messages -->
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="notification is-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <!-- Erreurs globales -->
            {% for error in form.vars.errors %}
                <div class="notification is-danger">{{ error.message }}</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
