{{ form_start(form) }}

    <div class="row">
        <div class="column">
            {{ form_row(form.game) }}
        </div>
        <div class="column">
            {{ form_row(form.platform) }}
        </div>
        <div class="column">
            {{ form_row(form.scorePercent) }}
        </div>
        <div class="column">
            <div class="row">
                <div class="column">
                    {{ form_row(form.completedStory) }}
                </div>
                <div class="column">
                    {{ form_row(form.completedFull) }}
                </div>
                <div class="column">
                    {{ form_row(form.earlyAccess) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            {{ form_row(form.playStartDate) }}
        </div>
        <div class="column">
            {{ form_row(form.playEndDate) }}
        </div>

        <div class="column column-10 column-offset-25">
            {{ form_row(form.hours) }}
        </div>
        <div class="column column-10">
            {{ form_row(form.minutes) }}
        </div>
        <div class="column column-10">
            {{ form_row(form.seconds) }}
        </div>
    </div>
    <div class="row">
    </div>

    <div class="column">
        {{ form_row(form.comment) }}
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
