{% extends 'base.html.twig' %}

{% block title %}Les jeux{% endblock %}

{% block body %}
    <h1>Les jeux</h1>
    <div class="flash-container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <button><a href="{{ path('app_game_new') }}">Ajouter Un Jeu</a></button>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.title }}</td>
                <td>
                    <a href="{{ path('app_game_show', {'id': game.id}) }}">détail</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button><a href="{{ path('app_game_new') }}">Ajouter Un Jeu</a></button>
{% endblock %}
