{% extends 'base.html.twig' %}

{% block title %}Les jeux{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="box">
            <h1 class="title is-3 has-text-warning ">🎮 Les jeux</h1>

            <!-- Flash messages -->
            <div class="mb-4">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="notification is-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>

            <!-- Bouton ajout -->
            <div class="mb-4">
                <a href="{{ path('app_game_new') }}" class="button is-warning">
                    ➕ Ajouter un jeu
                </a>
            </div>

            <!-- Table -->
            <div class="table-container">
                <table class="table is-striped is-hoverable is-fullwidth">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titre</th>
                        <th class="has-text-centered">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for game in games %}
                        <tr>
                            <td>{{ game.id }}</td>
                            <td>{{ game.title }}</td>
                            <td class="has-text-centered">
                                <a href="{{ path('app_game_show', {'id': game.id}) }}"
                                   class="button is-small is-link is-dark">
                                    🔎 Détail
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3" class="has-text-centered has-text-grey">
                                Aucun jeu trouvé
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Bouton ajout bas -->
            <div class="mt-4">
                <a href="{{ path('app_game_new') }}" class="button is-warning">
                    ➕ Ajouter un jeu
                </a>
            </div>
        </div>
    </div>
{% endblock %}
